.Tablaon{
   margin-left: 10%;
    margin-top: -300px;
  
}
.tablatwo{


    margin-left: 300%;
    text-align: center;
  
}
.data{
  margin-left: 320%;

}

.Login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 540px;
}
.Vertarea{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Eliminar{
    margin-left: 15px;
}


